@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Freeman&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #DDA15E; 
    --secondary-color: #FEFAE0;
    --accent1-color: #9f5310;
    --accent2-color: #606C38;

    --heading-font: 'freeman', serif;
    --paragraph-font: serif;

    --nav-background-color: #BC6C25;
    --nav-link-color: #FEFAE0;
    --nav-hover-link-color: #606C38;
    --nav-hover-background-color: #DDA15E;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  p {
    font-family: var(--paragraph-font);
    color: black;
  }

  a {
    text-decoration: none;
  }


/*
  h1 {
    position:absolute;
    top: 10em;
    left: 10em;
    padding: 12px;
    background: rgba(105, 105, 102, 0.501);
  }
*/


  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    background: #606C38;
  }

  .logo-image {
    grid-column: 1/2;
    display: flex;
    justify-self: center;
    width: 150px;
    height: auto;
    border: 5px solid var(--primary-color);
    background-color: #FEFAE0;

    
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
  }

  .menu a {
    display: block;
    color: var(--accent1-color);
    background:  var(--primary-color);
    padding: 10px 30px 10px 30px;
    border: 1px solid var(--accent1-color);
    text-decoration: none;
  }

  .manu a:hover {
    color: tomato;
  }



  .menu-form figure {
    display: grid;
    justify-content: center;
  }

  .menu-form figure img {
    width: 250px;
    height: auto;
  }

  form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    align-content: center;
    display: grid;
    grid-gap: 1.5rem;
    background-color: #f0ebe5;
}

form h3 {
  text-align: left;
}

.part1 h2, h3, p {
  text-align: center;
}


.map {
  display: grid;
  justify-content: center;
}

input, textarea{
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

input[type="radio"] {
  width: 22px;
  height: 22px;

}

button {
  height: 50px;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;

}



  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #606C38;
  }

  footer p {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sociallinks a img {
    width: 40px;
    height: auto;
  }

  .sociallinks {
    grid-column: 3/4;
    grid-row: 2;
    display: flex;
    justify-self: center;
  }

